* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* box-sizing: border-box; */
}
nav {
  background: #f2f2f2;
  height: 100px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  margin: -90px 20px 0px 0px;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}

@media (max-width: 1290px) {
  nav {
    width: 1300px;
    height: auto;
  }
}
@media (max-width: 1066px) {
  nav {
    width: 1080px;
    height: auto;
  }
}

@media (max-width: 700px) {
  nav {
    width: 1193px;
    height: auto;
  }
}
nav ul li a {
  display: block;
  padding: 8px;
  font-size: 17;
  background-color: #f2f2f2;
  text-decoration: none;
  color: black;
}
@media (max-width: 1066px) {
  nav ul li a {
    font-size: 26px;
    /* padding-right: 65px; */
  }
}

@media (max-width: 964px) {
  nav ul li a {
    font-size: 36px;
    /* padding-right: 65px; */
  }
}
@media (max-width: 700px) {
  nav ul li a {
    font-size: 36px;
    /* padding-right: 65px; */
  }
}
@media (max-width: 600px) {
  nav ul li a {
    font-size: 46px;
    /* padding-right: 65px; */
  }
}
@media (max-width: 400px) {
  nav ul li a {
    font-size: 50px;
    display: flex;

    /* padding-right: 65px; */
  }
}
@media (max-width: 309px) {
  nav ul li a {
    padding-left: 100px;
  }
}

@media (max-width: 964px) {
  nav ul li img {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 700px) {
  nav ul li img {
    width: 80px;
    height: 80px;
    /* padding-right: 65px; */
  }
}
@media (max-width: 400px) {
  nav ul li img {
    width: 50px;
    height: 50px;
    /* padding-right: 200px; */
    display: flex;
  }
}

nav li a:hover {
  color: white;
  background-color: #663300;
  border-radius: 20px;
}
.header-img {
  width: 100px;
  height: 80px;
  margin: 10px 0px 0px 100px;
}
@media (max-width: 600px) {
  .header-img {
    width: 120px;
    height: 100px;
    /* margin-right: 50px; */
    align-self: start;
    /* padding-left: -50px; */
  }
}
/* @media (max-width: 600) {
  .header-img {
    width: 120px;
    height: 100px;
    
  }
} */
.after-header {
  width: 100%;
  height: auto;
  background: url('images/header.png');
  background-size: cover;
}

/* @media (max-width: 1164px) {
  .after-header {
    width: 0px;
    height: 500px;
  }
} */
@media (min-width: 3547px) {
  .after-header {
    width: 100%;
    height: 1500px;
  }
}
@media (min-width: 3957px) {
  .after-header {
    width: 100%;
    height: 1500px;
  }
}

@media (max-width: 1290px) {
  .after-header {
    width: 1300px;
    height: 500px;
    background: url('images/header.png');
    background-size: cover;
  }
}

@media (max-width: 1092px) {
  .after-header {
    width: 1090px;
    height: 500px;
    background: url('images/header.png');
    background-size: cover;
  }
}
@media (max-width: 900px) {
  .after-header {
    width: 1200px;
    height: 500px;
    background: url('images/header.png');
    background-size: cover;
  }
}
@media (max-width: 824px) {
  .after-header {
    width: 1200px;
    height: 500px;
    background: url('images/header.png');
    background-size: cover;
  }
}
@media (max-width: 494px) {
  .after-header {
    width: 1200px;
    height: 1000px;
    background: url('images/header.png');
    background-size: cover;
  }
}
/* @media (max-width: 800px) {
  .after-header {
    width: 1080px;
    height: 400px;
    background: url('images/header.png');
    background-size: cover;
  }
} */
.social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: space-between; */
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  text-decoration: none;
  font-weight: bold;
}
/* @media(max-width:375px){
  .fa{
    width: 80px;
    height: 80px;
  }
} */

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: black;
  margin-left: 1060px;
  margin-right: 10px;
  margin-top: 490px;
}

.fa-twitter {
  color: black;
  margin-right: 10px;
}
.fa-instagram {
  color: black;
}

@media (max-width: 1164px) {
  .fa-facebook {
    color: black;
    margin-left: 800px;
    margin-right: 10px;
    margin-top: 400px;
  }
}

@media (max-width: 494px) {
  .fa-facebook {
    color: black;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 500px;
  }
}

/* @media (max-width: 375px) {
  .fa-facebook {
    color: black;
    height: 100px;
    width: 100px;
  }
} */

.cat-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* .cat {
  margin: 30px 0px 0px 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
} */
.cat h5 {
  text-align: center;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  padding-top: 30px;
}

@media (max-width: 900px) {
  .cat h5 {
    font-size: 40px;
    text-align: center;
    margin-left: 300px;
  }
}

@media (max-width: 600px) {
  .cat h5 {
    font-size: 50px;
    text-align: center;
    margin-left: 500px;
  }
}
@media (max-width: 400px) {
  .cat h5 {
    font-size: 60px;
    text-align: center;
    margin-left: 800px;
  }
}

.cat h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}
@media (max-width: 900px) {
  .cat h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 300px;
  }
}

@media (max-width: 600px) {
  .cat h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 500px;
  }
}
@media (max-width: 400px) {
  .cat h2 {
    font-size: 60px;
    text-align: center;
    margin-left: 800px;
  }
}

.cat-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: blueviolet; */
}
@media (max-width: 900px) {
  .cat-options {
    margin-left: 300px;
    width: 700px;
  }
}
@media (max-width: 600px) {
  .cat-options {
    margin-left: 500px;
    width: 700px;
  }
}
@media (max-width: 400px) {
  .cat-options {
    margin-left: 800px;
  }
}
.cat-options-img {
  width: 100px;
  height: 100px;
  margin-top: 60px;
  margin-right: 18px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  border-radius: 5px;
}
@media (max-width: 600px) {
  .cat-options-img {
    width: 300px;
    height: 300px;
  }
}
.food {
  width: 50px;
  height: 50px;
}
@media (max-width: 600px) {
  .food {
    width: 150px;
    height: 150px;
  }
}
.cat-options-img h5 {
  font-size: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
}
@media (max-width: 600px) {
  .cat-options-img h5 {
    font-size: 55px;
  }
}
.cat-forward-backward {
  display: flex;
  margin-top: 50px;
  margin-bottom: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .cat-forward-backward {
    margin-left: 300px;
  }
}

@media (max-width: 600px) {
  .cat-forward-backward {
    margin-left: 500px;
  }
}
@media (max-width: 400px) {
  .cat-forward-backward {
    margin-left: 800px;
  }
}

.cat-forward-backward .fa {
  font-size: 40px;
  color: #d2a679;
  border-radius: 0px;
  border-style: none;
}

.background-img {
  top: 10px;
  background: url('images/bg-img.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .background-img {
    width: 1200px;
  }
}

/* .pro-forward-backward {
  display: flex;
  margin-top: 480px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;

}
.pro-forward-backward .fa {
  font-size: 40px;
  color:grey;
  border-radius: 0px;
  border-style: none;
}  */

.featured-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* @media (max-width: 650px) {
  .featured-section {
    width: 1000px;
  }
} */
.featured-heading h4 {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.featured-heading h1 {
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.featured-products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position: absolute; */
}

.featured-products-item {
  display: flex;
  width: 200px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
}

.featured-products-item h4 {
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.featured-products-item h3 {
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.featured-products-item .container-featured {
  text-align: center;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 10px 10px 10px 10px;
}
.pedigree {
  width: 80px;
  height: 110px;
  margin-top: 22px;
}

.fresh-health {
  width: 80px;
  height: 110px;
  margin-top: 22px;
  margin-left: 20px;
}
.dog-tshirt {
  width: 80px;
  height: 110px;
  margin-top: 22px;
}
.dog-collar {
  width: 90px;
  height: 100px;
  margin-top: 22px;
}

.featured-products-item-heading {
  padding-top: 40px;
  color: #ffffff;
}

.featured-products-item-img {
  padding-top: 20px;
  width: 110px;
}

.featured-products-item-text {
  padding-top: 20px;
  color: #fff;
}

.featured-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.featured-img-line {
  height: 30px;
  margin-right: 20px;
  width: 1px;
  background: white;
}
.featured-img i {
  margin-right: 20px;
}

.featured-img a:active,
a:hover {
  text-decoration: none;
  color: #00a0c6;
}

/* Sale Ad styling */

.sale-ad-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .sale-ad-sec {
    margin-top: 150px;
    margin-left: 370px;
  }
}
@media (max-width: 400px) {
  .sale-ad-sec {
    margin-top: 150px;
    margin-left: 400px;
  }
}
.sale-ad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .sale-ad {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .sale-ad {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.img-1 {
  width: 62%;
  height: 100%;
}

.img-2 {
  width: 32%;
  height: 100%;
}
@media (max-width: 700px) {
  .sale-ad-img-one img {
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 400px) {
  .sale-ad-img-one img {
    width: 1000px;
    height: 400px;
  }
}
@media (max-width: 700px) {
  .sale-ad-img-two img {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 400px) {
  .sale-ad-img-two img {
    width: 500px;
    height: 400px;
  }
}

.personalize-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

@media (max-width: 598px) {
  .personalize-img {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.round-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 2.5px solid black;
  position: relative;
}

@media (max-width: 598px) {
  .round-img {
    margin-top: 30px;
  }
}
.personalize-img-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: url('images/bg-img1.jpg');
  border-radius: 50%;
  margin-top: -18px;
  margin-left: 15px;
  /* position: absolute; */
}

@media (max-width: 598px) {
  .personalize-img-one {
    margin-bottom: 20px;
  }
}
.personalize-img-one img {
  margin-top: 40px;
  height: 130px;
  width: 100px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.personalize-img-one h3 {
  color: #663500;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
}

.personalize-img-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: url('images/bg-img1.jpg');
  border-radius: 50%;
  margin-top: -18px;
  margin-left: 15px;
  /* position: absolute; */
}

.personalize-img-two img {
  margin-top: 40px;
  height: 130px;
  width: 200px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.personalize-img-two h3 {
  color: #663500;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
}
.brands-sec {
  background: #f2f2f2;
  width: 100%;
}
@media (max-width: 800px) {
  .brands-sec {
    margin-left: 80px;
    width: 1100px;
  }
}
@media (max-width: 488px) {
  .brands-sec {
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;

    margin-left: 10px;
    width: 1203px;
  }
}
@media (max-width: 400px) {
  .brands-sec {
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin-left: 40px;
    width: 1203px;
    /* width: 1163px; */
  }
}
.headings h4 {
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 40px;
}
@media (max-width: 700px) {
  .headings h4 {
    font-size: 40px;
  }
}

.headings h2 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  padding-top: 10px;
}
@media (max-width: 700px) {
  .headings h2 {
    font-size: 50px;
  }
}

.brand-box {
  width: 80%;
  margin: 0 auto;
}
.brand-imgs {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  /* width: 500px; */
}
.brand-item {
  align-self: center;
  align-items: center;
  height: 150px;
  text-align: center;
  justify-content: center;
}
.brand-item img {
  max-height: 100px;
  max-width: 100px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

/* @media (max-width: 488px) {
  .brand-item img {
    max-height: 300px;
    max-width: 300px;
    height: 50px;
    width: 50px;
  }
} */
.brand-box-two {
  width: 80%;
  margin: 0 auto;
}

.brand-imgs-two {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.brand-item-two {
  align-self: center;
  align-items: center;
  height: 150px;
  text-align: center;
  justify-content: center;
}

.brand-item-two img {
  max-height: 100px;
  max-width: 100px;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.news-section {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  /* line-height: 1.2px; */
}

.news-heading h4 {
  font-size: 17px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

.news-heading h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.2;
}
@media (max-width: 400px) {
  .news-heading {
    margin-left: 800px;
    width: 300px;
  }
}

.shipping-sec {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shipping-cards {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 809px) {
  .shipping-cards {
    flex-direction: column;
    margin-left: 400px;
  }
}
/* @media (max-width: 500px) {
  .shipping-cards {
    flex-direction: column;
    margin-left: 400px;
  }
} */

.shipping-cards-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 2px solid rgb(107, 52, 12);
  margin-right: 20px;
  width: 250px;
  height: 150px;
}
@media (max-width: 890px) {
  .shipping-cards-img {
    margin-top: 15px;
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 890) {
  .shipping-cards img {
    width: 200px;
    height: 200px;
  }
}
.shipping-cards h1 {
  font-family: 'Fredoka One', cursive;
  color: #663500;
  font-size: 20px;
}
@media (max-width: 890px) {
  .shipping-cards h1 {
    font-size: 60px;
  }
}

.shipping-cards p {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #663500;
  font-size: 13px;
  font-weight: bold;
}
@media (max-width: 890px) {
  .shipping-cards p {
    font-size: 45px;
    margin-left: 10px;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .right-container {
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.right-reserved {
  text-align: center;
}
.right-reserved p {
  font-family: sans-serif;
  font-weight: 700;
}
@media (max-width: 950px) {
  .right-reserved {
    font-size: 30px;
    width: 700px;
    text-align: center;
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .right-reserved {
    font-size: 50px;
    width: 500px;
    text-align: center;
    margin-left: 20px;
  }
}
@media (max-width: 450px) {
  .right-reserved {
    font-size: 50px;
    width: 700px;
    text-align: center;
    padding-left: 80px;

    margin-left: 280px;
  }
}

.blog-section {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .blog-section {
    margin-left: 500px;
  }
}
.blog-heading h4 {
  font-size: 17px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: 700;
}

.blog-heading h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
}
.featured-img .fa {
  border: none;
}
#paragraph-1 {
  text-decoration: none;
  color: #000;
}
@media (max-width: 800px) {
  #paragraph-1 {
    text-decoration: none;
    color: #000;
    font-size: 30px;
  }
}
.card-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}
.card-title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

.input-field {
  position: relative;
  width: 280px;
  height: 50px;
}

input {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: left;
  padding-left: 20px;
}
:-moz-placeholder {
  text-align: left;
  padding-top: 30px;
}

.footer-bottom {
  padding: 10px;
  text-align: center;
  color: black;
}

.nutro {
  max-width: 50px;
  max-height: 50px;
}
input[type='email'] {
  /* margin-top: 20px; */
  width: 280px;
  height: 40px;
  display: inline-block;
  background-color: #4d2800;
  border-radius: 30px;
  border: 1px solid rgb(112, 88, 43);
}

.input-field img {
  /* position: absolute; */
  margin-left: 248px;
  margin-bottom: 40px;
  font-size: 25px;
  text-align: center;
  margin-top: -33px;
  color: white;
}

@media (max-width: 1041px) {
  .input-field img {
    margin-left: 250px;
    /* margin-top: 28px; */
  }
}

@media (max-width: 991px) {
  .input-field img {
    margin-left: 248px;
    margin-top: -33px;
  }
}

#carousel-indicator-number li {
  width: 10px;
  height: 10px;
  border: 2px solid #5d3d1c;
  background-color: white;
  border-radius: 100%;
  margin-bottom: -25px;
  opacity: 1;
}

#carousel-indicator-number .active {
  background-color: #5a3e1d;
}

#carousel-indicator-number li:hover {
  background-color: #5a3e1d;
}

#footer-item-h6 {
  color: #5d3d1c;
  font-weight: bold;
}
hr {
  background-color: #5d3d1c;
}
.d-none {
  display: flex;
}
@media (max-width: 768px) {
  .d-none {
    display: block;
  }
}
@media (max-width: 800px) {
  .footer-hr hr {
    width: 1200px;
  }
}
